@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(pexels-pixabay-53621.jpg);
    width: 100vw;
    height: 100vh;
}
header{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
section{
    background-color: rgba(136, 240, 240, 0.507);
    width: 600px;
    height: 300px;
    margin: auto;
    border-radius: 60px;
}
#lista{
    margin-top: 15px;
    width: 200px;
}
.one{
    background-color: lue;
    padding: 30px;
}
footer{

}